<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="#">Task manager</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/login"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register"></a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" style="color: white" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Task Manager</a>
                    <div class="dropdown-menu">
                        <a href="/task" class="dropdown-item">Task</a>
                        <a href="/task/addtask" class="dropdown-item">Add Task</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>